.order-table-container {
  padding: 1rem;
}

.table-container {
  padding: 1rem;
  margin: 1rem;
}

.table-row {
  display: inline-flex;
  gap: 10px;
  width: 100%;
  gap: 1rem;
}

.table-row > span {
  min-width: 11rem;
  font-size: 14px;
}

.filter-container {
  display: inline-flex;
  gap: 1rem;
}
